.title a {
  color: white;
  text-decoration: none;
}

.title {
  text-align: right;
}

.ioninput{
  height: 80px !important;
}

.cover {
  position: relative;
  text-align: center;
  height: 50vh;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
